In [58]:
import pandas as pd
import numpy as np
import pickle

In [2]:
df=pd.read_csv("train_u6lujuX_CVtuZ9i.csv")

In [3]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [4]:
df.shape

(614, 13)

In [5]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [6]:
df=df.dropna()

In [7]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y

In [8]:
df.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [9]:
df.drop("Loan_ID",axis=1,inplace=True)

In [10]:
df.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y

In [11]:
df["Gender"].value_counts()

Male      394
Female     86
Name: Gender, dtype: int64

In [12]:
df["Married"].value_counts()

Yes    311
No     169
Name: Married, dtype: int64

In [13]:
df["Dependents"].value_counts()

0     274
2      85
1      80
3+     41
Name: Dependents, dtype: int64

In [14]:
df["Education"].value_counts()

Graduate        383
Not Graduate     97
Name: Education, dtype: int64

In [15]:
df["Self_Employed"].value_counts()

No     414
Yes     66
Name: Self_Employed, dtype: int64

In [16]:
df["Property_Area"].value_counts()

Semiurban    191
Urban        150
Rural        139
Name: Property_Area, dtype: int64

In [17]:
df.loc[df['Dependents']=="3+",'Dependents']=3

In [18]:
df.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y

In [19]:
df["Dependents"].value_counts()

0    274
2     85
1     80
3     41
Name: Dependents, dtype: int64

In [20]:
dict1={"Male":2,"Female":1}

In [21]:
df['Gender']=df['Gender'].map(dict1)

In [22]:
dict2={"Yes":311,"No":169}

In [23]:
dict2

{'Yes': 311, 'No': 169}

In [24]:
df['Married']=df['Married'].map(dict2)

In [25]:
df["Dependents"]=df['Dependents'].astype(float)

In [26]:
dict3={"Graduate":2,"Not Graduate":1}

In [27]:
df['Education']=df['Education'].map(dict3)

In [28]:
df.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,2,311,1.0,2,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,2,311,0.0,2,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,2,311,0.0,1,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,2,169,0.0,2,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,2,311,2.0,2,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y

In [67]:
df["Credit_History"].value_counts()

1.0    410
0.0     70
Name: Credit_History, dtype: int64

In [29]:
dict4={"Yes":2,"No":1}

In [30]:
df['Self_Employed']=df['Self_Employed'].map(dict4)

In [31]:
dict5={"Semiurban":2,"Urban":1,"Rural":3}

In [32]:
df['Property_Area']=df['Property_Area'].map(dict5)

In [33]:
df.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,2,311,1.0,2,1,4583,1508.0,128.0,360.0,1.0,3,N
2,2,311,0.0,2,2,3000,0.0,66.0,360.0,1.0,1,Y
3,2,311,0.0,1,1,2583,2358.0,120.0,360.0,1.0,1,Y
4,2,169,0.0,2,1,6000,0.0,141.0,360.0,1.0,1,Y
5,2,311,2.0,2,2,5417,4196.0,267.0,360.0,1.0,1,Y

In [34]:
dict6={"Y":1,"N":0}

In [35]:
df['Loan_Status']=df['Loan_Status'].map(dict6)

In [36]:
df.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,2,311,1.0,2,1,4583,1508.0,128.0,360.0,1.0,3,0
2,2,311,0.0,2,2,3000,0.0,66.0,360.0,1.0,1,1
3,2,311,0.0,1,1,2583,2358.0,120.0,360.0,1.0,1,1
4,2,169,0.0,2,1,6000,0.0,141.0,360.0,1.0,1,1
5,2,311,2.0,2,2,5417,4196.0,267.0,360.0,1.0,1,1

In [49]:
df.dtypes

Gender                 int64
Married                int64
Dependents           float64
Education              int64
Self_Employed          int64
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area          int64
Loan_Status            int64
dtype: object

In [42]:
df.columns

Index(['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
       'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [43]:
x=df[['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
       'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area']]

In [44]:
y=df[["Loan_Status"]]

In [50]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

In [51]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier()

In [52]:
rf.fit(x_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [53]:
y_pred=rf.predict(x_test)

In [57]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
y_pred=rf.predict(x_test)
print(confusion_matrix(y_test,y_pred))
print("Accuracy Score {}".format(accuracy_score(y_test,y_pred)))
print("Classification report: {}".format(classification_report(y_test,y_pred)))

[[ 17  30]
 [  2 110]]
Accuracy Score 0.7987421383647799
Classification report:               precision    recall  f1-score   support

           0       0.89      0.36      0.52        47
           1       0.79      0.98      0.87       112

    accuracy                           0.80       159
   macro avg       0.84      0.67      0.69       159
weighted avg       0.82      0.80      0.77       159

In [59]:
import pickle
file=open("Loan_prediction.pkl","wb")
pickle.dump(rf,file)
file.close()

In [63]:
model1=pickle.load(open("Loan_prediction.pkl","rb"))
output=(model1.predict([[2,311,1,2,1,4583,1508,128,360,1,3]]))

In [64]:
output

array([1], dtype=int64)

In [60]:
df.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,2,311,1.0,2,1,4583,1508.0,128.0,360.0,1.0,3,0
2,2,311,0.0,2,2,3000,0.0,66.0,360.0,1.0,1,1
3,2,311,0.0,1,1,2583,2358.0,120.0,360.0,1.0,1,1
4,2,169,0.0,2,1,6000,0.0,141.0,360.0,1.0,1,1
5,2,311,2.0,2,2,5417,4196.0,267.0,360.0,1.0,1,1